<ion-header>
  <ion-toolbar class="ahThemeToolBar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="ahThemeButtonMenu"></ion-menu-button>
      <!-- <img src="../assets/images/ahlogo.png" class="ahLogo" /> -->
      <img src="../assets/icon/favico.png" class="ahLogoMini" />
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding:0.5em" (click)="openProfile($event)">
      <img src="../assets/icon/usericon.svg">
    </ion-thumbnail>
    <ion-title class='ion-text-center titleWhite'>Laboratory Reports</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)" (ionClear)="filterListClear($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
      <button ion-button (click)="sortData()">
        <ion-icon name="swap-vertical"></ion-icon>
      </button>
      <button ion-button (click)="showFilters()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <div class="card">
    <div class="content">
      <div class="panel-group" *ngIf="documents">
        <ion-list>
          <div *ngFor="let _document of documents | keyvalue: customSort">
            <div class="panel panel-default">
              <div class="panel-heading clickable" (click)="toggleGroup(_document)" [ngClass]="{active:isGroupShown(_document)}">
                
                <h4 class="panel-title">
                  <!-- <div class="block"></div> -->
                  <span><ion-icon  [name]="isGroupShown(_document) ? 'remove-outline' : 'add-outline'"></ion-icon>Document Date : {{getDateDisplay(documents[_document.key])}}</span>
                  <!-- <p><span>Pricing Period: {{getPricingDates(orders[cust.key])}}</span></p> -->
                </h4>
              </div>
              <div *ngIf="isGroupShown(_document)">
                <div class="tasks" id="tasks" *ngFor="let document of documents[_document.key].lineItems">
                  <div class="task-item" [ngClass]="document.class">
                    <div class="task-text">
                      <h5 style="color:rgb(87,143,182);font-weight:bold">Document Number: {{document.documentNo}}</h5>
                      <h6>{{document.physician}}</h6>
                      <span>Status : {{document.status}}</span>
                    </div>
                    <div class="task-footer">
                      <div class="pull-left"><span class="fa fa-clock-o"></span> {{document.date}} - {{document.time}}</div>
                      <div class="pull-right"><h6 style="color:rgb(87,143,182);">{{document.type}}</h6></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>