<ion-header [hidden]="model.isVisible" [style.font-family]="getFontFamily()">
  <ion-toolbar class="ahThemeToolBar">
    <ion-row slot="end" style="padding:0.5em" [hidden]="model.isVisible">
      <ion-button expand="full" class="ahThemeButton" (click)="switchLanguage()">
        {{'lbl_app_lang' | translate | titlecase}}</ion-button>
    </ion-row>
    <ion-title class='ion-text-center titleWhite'>{{'lbl_app_title' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="limiter" [style.font-family]="getFontFamily()">
  <div class="container-login100 tintimage">
    <!-- style="background-image: url('./assets/images/bg-01.jpg');"> -->
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <!-- <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span> -->
        <span class="login100-form-logo">
          <img src="./assets/images/ahlogo.png" style="width: 100%;" />
        </span>
        <!-- <span class="login100-form-title p-b-34 p-t-27">Log in
        </span> -->
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" type="text" name="username" placeholder="{{ 'username' | translate}}"
            [(ngModel)]="model.username">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="{{ 'password' | translate}}"
            [(ngModel)]="model.password">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="login()">
            {{ 'lbl_login' | translate}}
          </button>
        </div>
        <div class="text-center p-t-90">
          <a class="txt1" (click)="forgotPassword()" style="cursor: pointer;">{{ 'lbl_forgot_password' | translate}}</a>
        </div>

        
      </form>
      <div class="col-md-12 text-center p-t-90" [hidden]="!model.isVisible">
        <ion-row [class]="getAlignmentClass()" text-center>
          <h6 style="color: #bdbdbd;font-size: 1em;margin-top: 0.8em;margin-right: 0.8em;">AR</h6>
          <ion-toggle [(ngModel)]="model.language" (ionChange)="changeLanguage()"></ion-toggle>
          <h6 style="color: #bdbdbd;font-size: 1em;margin-top: 0.8em;margin-left: 0.8em;">EN</h6>
        </ion-row>
      </div>
    </div>
  </div>
</div>