<ion-header>
    <ion-toolbar>
        <ion-title class='ion-text-center'>
            {{'lbl_change_password' | translate | uppercase}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close" class="ahThemeButtonMenu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding="true" class="ion-padding center" text-center>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6">
                <form method="post" id="passwordForm">
                    <div class="form-group">
                        <input type="password" class="input-lg form-control" name="password0" [(ngModel)]="model.currentPassword"
                        placeholder="{{'lbl_current_password' | translate | titlecase}}" autocomplete="off" required="true">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-lg form-control" name="password1" [(ngModel)]="model.newPassword"
                        placeholder="{{'lbl_new_password' | translate | titlecase}}" autocomplete="off" required="true">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-lg form-control" name="password2" [(ngModel)]="model.repeatPassword"
                        placeholder="{{'lbl_repeat_password' | translate | titlecase}}" autocomplete="off" required="true">
                    </div>
                    <ion-button expand="full" class="ahThemeButton" (click)="resetPassword()">{{'lbl_change_password' | translate | uppercase}}</ion-button>    
                </form>
            </div>
        </div>
    </div>
</ion-content>