[dir="rtl"]{
    ion-menu[side=right] > .menu-inner {
      right: 0;
      direction: ltr;
    }
  
    ion-menu[side=right] ion-icon[aria-label^="arrow"]::before, ion-icon[flip-rtl]::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      margin-left: 8px;
    }
  }