<div class="header">
	<div class="logo">
		<img src="../../assets/icon/usericon_blue.svg">
		<span>
			<h3>{{model.name | titlecase}}</h3>
			<p>MRN: {{model.mrn | lowercase}}</p>
			<p>{{model.email | lowercase}}</p>
		</span>
	</div>
</div>

<div class="nav">
	<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
		<div class="nav-item" [routerLink]="[p.url]">
			<!-- <span class="icon-icon_flask_blue"></span> -->
			<!-- <i class="icon-icon_flask_blue"></i> -->
			<ion-icon src="{{p.iconPath}}"></ion-icon>
			{{p.title}}
			<span class="divider"></span>
		</div>
	</ion-menu-toggle>
</div>

<div class="footer">
	<div class="footer-nav">
		<ion-button expand="full" class="ahThemeButton" (click)="logOut()">Log out</ion-button>
	</div>

	<div class="footer-app-version">
		Version v{{version}}
	</div>
</div>