<ion-header>
  <ion-toolbar class="ahThemeToolBar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="ahThemeButtonMenu"></ion-menu-button>
      <img src="./assets/icon/favico.png" class="ahLogoMini" />
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding:0.5em" (click)="openProfile($event)">
      <img src="./assets/icon/usericon.svg">
    </ion-thumbnail>
    <ion-row slot="end" style="padding:0.5em" [hidden]="model.isVisible">
      <h6 style="color: #000000;font-size: 1em;margin-top: 0.8em;margin-right: 0.25em;">AR</h6>
      <ion-toggle [(ngModel)]="model.language" (ionChange)="switchLanguage()"></ion-toggle>
      <h6 style="color: #000000;font-size: 1em;margin-top: 0.8em;margin-left: 0.25em;">EN</h6>
    </ion-row>
    <ion-title class='ion-text-center titleWhite'>{{'tile_nutrition' | translate | uppercase}} {{'tile_report' | translate | uppercase}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)" (ionClear)="filterListClear($event)">
    </ion-searchbar>
    <ion-buttons slot="end" style="background:transparent!important">
      <!-- <button ion-button (click)="sortData()" icon-only clear style="background:transparent!important">
        <ion-icon name="swap-vertical"></ion-icon>
      </button> -->
      <button ion-button (click)="showFilters()" style="background:transparent!important">       
        <ion-icon name="funnel"></ion-icon>
        <ion-badge color="danger" [hidden]="model.filterCount==0">{{model.filterCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Mobile View-->
  <div class="card" [hidden]="!model.isVisible">
    <div class="content">
      <div class="panel-group" *ngIf="documents">
        <ion-list>
          <div *ngFor="let _document of documentsMobile | keyvalue: customSort">
            <div class="panel panel-default">
              <div class="panel-heading clickable" (click)="toggleGroup(_document)"
                [ngClass]="{active:isGroupShown(_document)}">
                <h4 class="panel-title">
                  <span>
                    <ion-icon [name]="isGroupShown(_document) ? 'remove-outline' : 'add-outline'"></ion-icon>{{'lbl_document' | translate | titlecase}} {{'lbl_date' | translate | titlecase}} : {{getDateDisplay(documentsMobile[_document.key])}}
                  </span>
                </h4>
              </div>
              <div *ngIf="isGroupShown(_document)">
                <div class="tasks" id="tasks" *ngFor="let document of documentsMobile[_document.key].lineItems">
                  <div class="task-item" [ngClass]="document.class" (click)="openPDF(document)">
                    <div class="task-text">
                      <h5 style="color:rgb(87,143,182);font-weight:bold">{{'lbl_document_no' | translate | titlecase}}: {{document.documentNo}}</h5>
                      <h6>{{document.physician}}</h6>
                      <!-- <span>{{'lbl_status' | translate | titlecase}} : {{document.status}}</span> -->
                    </div>
                    <div class="task-footer">
                      <div [class]="getAlignmentClassLeft()"><span class="fa fa-clock-o"></span> {{document.date}} - {{document.time}}
                      </div>
                      <div [class]="getAlignmentClassRight()">
                        <h6 style="color:rgb(87,143,182);">{{document.type}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
  <!--Web View-->
  <!-- <div class="table-responsive padding" style="margin:1em" [hidden]="model.isVisible">
    <table class="table table-striped">
      <thead>
        <tr class="" style="background-color:#909090;color:white">
          <td width="20%"><b>Document No</b></td>
          <td width="13%"><b>Sample Date</b></td>
          <td width="10%"><b>Sample Time</b></td>
          <td width="12%"><b>Type</b></td>
          <td width="25%"><b>Physician</b></td>
          <td width="20%"><b>Status</b></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lt of documents">
          <td>{{lt.documentNo}}</td>
          <td>{{lt.date}}</td>
          <td>{{lt.time}}</td>
          <td>{{lt.type}}</td>
          <td>{{lt.physician}}</td>
          <td>{{lt.status}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive padding" style="margin:1em" [hidden]="model.isVisible">
          <table class="project-list-table table-nowrap table-centered table-borderless table padding" style="padding:1rem">
            <thead>
              <tr>
                <th scope="col" style="width: 100px;"></th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_document_no' | translate | uppercase}}
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortDescending('documentNo')" icon-only clear style="background:transparent!important;">
                      <ion-icon name="arrow-down" [ngClass]="model.documentNumberDesc"
                        style="color:#CCC;margin-right: -0.1em;"></ion-icon>
                    </button>
                  </span>
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortAscending('documentNo')" icon-only clear style="background:transparent!important;margin-right: -0.75em;">
                      <ion-icon name="arrow-up" [ngClass]="model.documentNumberAsc">
                      </ion-icon>
                    </button>
                  </span>
                </th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_date' | translate | uppercase}}
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortDescending('date')" icon-only clear style="background:transparent!important">
                      <ion-icon name="arrow-down" [ngClass]="model.dateDesc"></ion-icon>
                    </button>
                  </span>
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortAscending('date')" icon-only clear style="background:transparent!important;margin-right: -0.75em;">
                      <ion-icon name="arrow-up" [ngClass]="model.dateAsc">
                      </ion-icon>
                    </button>
                  </span>
                </th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_time' | translate | uppercase}}
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortDescending('time')" icon-only clear style="background:transparent!important">
                      <ion-icon name="arrow-down" [ngClass]="model.timeDesc"></ion-icon>
                    </button>
                  </span>
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortAscending('time')" icon-only clear style="background:transparent!important;margin-right: -0.75em;">
                      <ion-icon name="arrow-up" [ngClass]="model.timeAsc">
                      </ion-icon>
                    </button>
                  </span>
                </th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_dietician' | translate | uppercase}}
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortDescending('physician')" icon-only clear style="background:transparent!important">
                      <ion-icon name="arrow-down" [ngClass]="model.physicianDesc"></ion-icon>
                    </button>
                  </span>
                  <span [class]="getAlignmentClass()">
                    <button ion-button (click)="sortAscending('physician')" icon-only clear style="background:transparent!important;margin-right: -0.75em;">
                      <ion-icon name="arrow-up" [ngClass]="model.physicianAsc">
                      </ion-icon>
                    </button>
                  </span>
                </th>
                <!-- <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_type' | translate | uppercase}}</th> -->
                <!-- <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_status' | translate | uppercase}}</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lt of documents" class="dataTable" (click)="showPDF(lt)">
                <td>
                  <img
                    src="../../assets/icon/icon_document_blue.svg"
                    alt="" class="avatar-sm"></td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark" (click)="showPDF(lt)">{{lt.documentNo}}</a></h5>
                </td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.date}}</a></h5>
                  <!-- <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.time}}</a></h5> -->
                </td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.time}}</a></h5>
                </td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.physician}}</a></h5>
                </td>
                <!-- <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.type}}</a></h5>
                </td> -->
                <!-- <td><span class="pill" [style.background]="renderStatus(lt.statusCode)" style="color:black">{{lt.status}}</span></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  
</ion-content>