<ion-header>
  <ion-toolbar class="ahThemeToolBar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="ahThemeButtonMenu"></ion-menu-button>
      <img src="./assets/icon/favico.png" class="ahLogoMini" />
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding:0.5em" (click)="openProfile($event)">
      <img src="./assets/icon/usericon.svg">
    </ion-thumbnail>
    <ion-title class='ion-text-center titleWhite'>{{'tile_nutrition' | translate | uppercase}} {{'tile_report' | translate | uppercase}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)" (ionClear)="filterListClear($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
      <button ion-button (click)="sortData()" icon-only clear>
        <ion-icon name="swap-vertical"></ion-icon>
      </button>
      <button ion-button (click)="showFilters()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Mobile View-->
  <div class="card" [hidden]="!model.isVisible">
    <div class="content">
      <div class="panel-group" *ngIf="documents">
        <ion-list>
          <div *ngFor="let _document of documentsMobile | keyvalue: customSort">
            <div class="panel panel-default">
              <div class="panel-heading clickable" (click)="toggleGroup(_document)"
                [ngClass]="{active:isGroupShown(_document)}">
                <h4 class="panel-title">
                  <span>
                    <ion-icon [name]="isGroupShown(_document) ? 'remove-outline' : 'add-outline'"></ion-icon>{{'lbl_document' | translate | titlecase}} {{'lbl_date' | translate | titlecase}} : {{getDateDisplay(documentsMobile[_document.key])}}
                  </span>
                </h4>
              </div>
              <div *ngIf="isGroupShown(_document)">
                <div class="tasks" id="tasks" *ngFor="let document of documentsMobile[_document.key].lineItems">
                  <div class="task-item" [ngClass]="document.class" (click)="openPDF(document)">
                    <div class="task-text">
                      <h5 style="color:rgb(87,143,182);font-weight:bold">{{'lbl_document_no' | translate | titlecase}}: {{document.documentNo}}</h5>
                      <h6>{{document.physician}}</h6>
                      <span>{{'lbl_status' | translate | titlecase}} : {{document.status}}</span>
                    </div>
                    <div class="task-footer">
                      <div [class]="getAlignmentClassLeft()"><span class="fa fa-clock-o"></span> {{document.date}} - {{document.time}}
                      </div>
                      <div [class]="getAlignmentClassRight()">
                        <h6 style="color:rgb(87,143,182);">{{document.type}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
  <!--Web View-->
  <!-- <div class="table-responsive padding" style="margin:1em" [hidden]="model.isVisible">
    <table class="table table-striped">
      <thead>
        <tr class="" style="background-color:#909090;color:white">
          <td width="20%"><b>Document No</b></td>
          <td width="13%"><b>Sample Date</b></td>
          <td width="10%"><b>Sample Time</b></td>
          <td width="12%"><b>Type</b></td>
          <td width="25%"><b>Physician</b></td>
          <td width="20%"><b>Status</b></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lt of documents">
          <td>{{lt.documentNo}}</td>
          <td>{{lt.date}}</td>
          <td>{{lt.time}}</td>
          <td>{{lt.type}}</td>
          <td>{{lt.physician}}</td>
          <td>{{lt.status}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive padding" style="margin:1em" [hidden]="model.isVisible">
          <table class="project-list-table table-nowrap table-centered table-borderless table padding" style="padding:1rem">
            <thead>
              <tr>
                <th scope="col" style="width: 100px;"></th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_document_no' | translate | uppercase}}</th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_sample' | translate | uppercase}} {{'lbl_date' | translate | uppercase}}</th>
                
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_physician' | translate | uppercase}}</th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_type' | translate | uppercase}}</th>
                <th scope="col" style="font-weight: 600;text-align: justify;">{{'lbl_status' | translate | uppercase}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lt of documents" class="dataTable" (click)="showPDF(lt)">
                <td>
                  <img
                    src="../../assets/icon/icon_document_blue.svg"
                    alt="" class="avatar-sm"></td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark" (click)="showPDF(lt)">{{lt.documentNo}}</a></h5>
                </td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.date}}</a></h5>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.time}}</a></h5>
                </td>
                
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.physician}}</a></h5>
                </td>
                <td>
                  <h5 class="text-truncate font-size-14"><a class="text-dark">{{lt.type}}</a></h5>
                </td>
                <td><span class="pill" [style.background]="renderStatus(lt.statusCode)" style="color:black">{{lt.status}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  
</ion-content>