<ion-header>
  <ion-toolbar>
    <ion-title class='ion-text-center'>
      {{'lbl_document' | translate | uppercase}} - {{model.documentNumber}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" class="ahThemeButtonMenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding corporate-background">
  <pdf-viewer [src]="pdfSrc" 
              [fit-to-page]="true"
              [original-size]="true"
              [render-text]="true"
              style="display: block;"
  ></pdf-viewer>
</ion-content>
<ion-footer [hidden]="model.isVisible">
  <ion-toolbar>
    <ion-button class="ahThemeButton" (click)="downloadPDF()" slot="end">
      <ion-icon slot="start" name="arrow-down"></ion-icon>{{ 'lbl_download_pdf' | translate}}
    </ion-button>
    <ion-button class="ahThemeButton" (click)="printPDF()" slot="start">
      <ion-icon slot="start" name="print"></ion-icon>{{ 'lbl_print_pdf' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
