<!-- <div class="card">
  <img src="../../assets/icon/usericon_blue.svg" alt="John" style="width:50%">
  <h1>Joe Bonamassa</h1>
  <p class="title">Patient MRN:1562</p>
  <p>Gender:Male</p>
  <p>Date of Birth:22.01.1977</p>
  <p>Telephone:+962 6 1555 5353</p>
  <p>Email:test@sap.com</p>
</div> -->

<section class="card">
  <div class="twt-feed blue-bg">
    <div class="media">
      <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt=""
        src="../../assets/icon/usericon_blue.svg">
      <!-- <a href="#">
        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt=""
          src="../../assets/icon/usericon_blue.svg">
      </a> -->
    </div>
    <div class="media-body">
      <h2 class="text-white display-6">Joe Bonamassa</h2>
      <p class="text-light">MRN:1562</p>
    </div>
  </div>
  <div class="weather-category twt-category">
    <ul>
      <li class="active">
        <h6 style="font-size:13px;">Gender</h6>
        Male
      </li>
      <li>
        <h6 style="font-size:13px;">Date of Birth</h6>
        22.01.1977
      </li>
    </ul>
  </div>
  <div class="twt-write col-sm-12">
    <h6 style="color: #bdbdbd;font-size: 13px;"><span><ion-icon name='call'></ion-icon></span> Contact: <span class="pull-right">
        +962 6 1555 5353
      </span></h6>
    <h6 style="color: #bdbdbd;font-size: 13px;"><span><ion-icon name='mail'></ion-icon></span> Email: <span class="pull-right">
      test@sap.com
    </span></h6>
  </div>
  <footer class="twt-footer">
    <ion-button expand="full" class="ahThemeButton" (click)="logOut()">Log out</ion-button>
    <!-- <a href="#"><i class="fa fa-camera"></i></a>
    <a href="#"><i class="fa fa-map-marker"></i></a>
    New Castle, UK
    <span class="pull-right">
      32
    </span> -->
  </footer>
</section>