.ahThemeButton{
    --background: rgb(83,143,182);
    --background-activated: rgb(83,143,182);
    --background-focused: rgb(83,143,182);
    --background-hover: rgb(83,143,182);
    font-size: 1em;
    font-weight: bold;  
}

.ahSelect .select-interface-option[aria-checked=true] .alert-checkbox-label {
    color: #79193b;
}

.sc-ion-alert-md-h{
    --max-width:20% !important;
}
