.ahThemeButton{
    --background: rgb(83,143,182) !important;
    --background-activated: rgb(83,143,182) !important;
    --background-focused: rgb(83,143,182) !important;
    --background-hover: rgb(83,143,182) !important;
    font-size: 1em !important;
    font-weight: bold !important;  
}

.ahThemeButtonMenu{
    --color:rgb(87,143,182);
}