<ion-header>
  <ion-toolbar class="ahThemeToolBar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="ahThemeButtonMenu"></ion-menu-button>
      <img src="./assets/images/ahlogo.png" class="ahLogo" />
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button color="medium" (click)="openProfile()">
        <ion-icon src="../assets/icon/usericon.svg"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-thumbnail slot="end" style="padding:0.5em" (click)="openProfile($event)">
      <img src="./assets/icon/usericon.svg">
    </ion-thumbnail>
    <ion-title class='ion-text-center titleWhite'>Welcome to Patient Portal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background-image">
  <div class="row  h-100 align-items-center">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
      <div class="col-lg-3 col-xl-3 col-md-3 col-xs-12 col-sm-12"></div>
      <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
        <div id="main">
          <div class="box blue">
            <div class="diamondIn">
              <div class="front" style="background: rgb(102,203,221);">
                <div class="text-center frontContent">
                  <img src="./assets/icon/icon_nutrition.svg" height="40em">
                  <br />
                  <h3 class="title">NUTRITION</h3>
                  <h3 class="title">REPORTS</h3>
                  <!-- <span class="subtitle smallDevice">Access to the nutrition care reports</span> -->
                </div>
              </div>
              <div class="back" style="background: rgb(102,203,221);">
                <div class="text-center backContent">
                  <img src="./assets/icon/icon_nutrition.svg" height="40em">
                  <br />
                  <h3 class="title">TOTAL: 5</h3>
                  <span class="subtitle smallDevice">Last report: 2nd Feb 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box green">
            <div class="diamondIn">
              <div class="front" style="background: rgb(87,143,182)">
                <div class="text-center frontContent">
                  <img src="./assets/icon/icon_flask.svg" height="40em">
                  <br />
                  <h3 class="title">LABORATORY</h3>
                  <h3 class="title">REPORTS</h3>
                </div>
              </div>
              <div class="back" style="background: rgb(87,143,182)">
                <div class="text-center backContent">
                  <img src="./assets/icon/icon_flask.svg" height="40em">
                  <br />
                  <h3 class="title">TOTAL: 23</h3>
                  <span class="subtitle smallDevice">Last report: 2nd Feb 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box red">
            <div class="diamondIn">
              <div class="front" style="background: rgb(102,203,221);">
                <div class="text-center frontContent">
                  <img src="./assets/icon/icon_radiology.svg" height="40em">
                  <br />
                  <h3 class="title">RADIOLOGY</h3>
                  <h3 class="title">REPORTS</h3>
                  <!-- <span class="subtitle smallDevice">Access to the radiology reports and images</span> -->
                </div>
              </div>
              <div class="back" style="background: rgb(102,203,221);">
                <div class="text-center backContent">
                  <img src="./assets/icon/icon_radiology.svg" height="40em">
                  <br />
                  <h3 class="title">TOTAL: 12</h3>
                  <span class="subtitle smallDevice">Last report: 2nd Feb 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box yellow">
            <div class="diamondIn">
              <div class="front" style="background: rgb(87,143,182)">
                <div class="text-center frontContent">
                  <img src="./assets/icon/icon_report.svg" height="40em">
                  <br />
                  <h3 class="title">MEDICAL</h3>
                  <h3 class="title">REPORTS</h3>
                  <!-- <span class="subtitle smallDevice">Access General Medical Reports, ER and Hospital Discharge reports</span> -->
                </div>
              </div>
              <div class="back" style="background: rgb(87,143,182)">
                <div class="text-center backContent">
                  <img src="./assets/icon/icon_report.svg" height="40em">
                  <br />
                  <h3 class="title">TOTAL: 42</h3>
                  <span class="subtitle smallDevice">Last report: 2nd Feb 2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-xs-12 col-sm-12"></div>
    </div>
  </div>

</ion-content>