#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.ahLogo{
  display: inline-block;
  width: 13em;
  height: 3.5em;
}

.background-image{
  background: url('../../assets/images/bg-02.jpg') no-repeat 100% 100%;
  --background: url('../../assets/images/bg-02.jpg') no-repeat 100% 100%;
}

.ahThemeToolBar{
  --background: rgb(190,230,239);
}

.ahThemeButtonMenu{
  --color:rgb(87,143,182);
}

.titleWhite{
  color:transparent;
}

.diamond {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  // background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamond {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  // background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamond-content{
  transform: rotate(-45deg);
}

.diamond1 {
  // background: rgb(190,230,239);
  background: rgb(87,143,182);
  margin-top: -50.5%;
  margin-left: 40.25%;
  width: 18em;
  height: 18em;
}

.diamond2 {
  background: rgb(102,203,221);
  margin-top: -27.5%;
  margin-left: 17.5%;
  width: 18em;
  height: 18em;
}

.diamond3 {
  background: rgb(102,203,221);
  
  margin-top: -27.5%;
  margin-left: 63.5%;
  width: 18em;
  height: 18em;
}

.diamond4 {
  // background: rgb(190,230,239);
  background: rgb(87,143,182);
  margin-top: -4.5%;
  margin-left: 40.25%;
  width: 18em;
  height: 18em;
}


.diamondTile{
  width: 25%;
  padding-bottom: 25%;
  background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamondCard{
  transform: rotate(-45deg);
  width: 12.5em;
  height: 12.5em;
  margin-left: 15%;
  margin-top: 15%; 
}

.title{
  color: white;
  font-weight: bold;
}

.subtitle{
  color: white;
  font-style: italic;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.myrow {
  padding-top: 30%;
  padding-bottom: 10%;
}

.diamond {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  // background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamond-content{
  transform: rotate(-45deg);
}

.diamond1 {
  // background: rgb(190,230,239);
  background: rgb(87,143,182);
  margin-top: -50.5%;
  margin-left: 40.25%;
  width: 18em;
  height: 18em;
}

.diamond2 {
  background: rgb(102,203,221);
  margin-top: -27.5%;
  margin-left: 17.5%;
  width: 18em;
  height: 18em;
}

.diamond3 {
  background: rgb(102,203,221);
  
  margin-top: -27.5%;
  margin-left: 63.5%;
  width: 18em;
  height: 18em;
}

.diamond4 {
  // background: rgb(190,230,239);
  background: rgb(87,143,182);
  margin-top: -4.5%;
  margin-left: 40.25%;
  width: 18em;
  height: 18em;
}


.diamondTile{
  width: 25%;
  padding-bottom: 25%;
  background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamondCard{
  transform: rotate(-45deg);
  width: 12.5em;
  height: 12.5em;
  margin-left: 15%;
  margin-top: 15%; 
}

.flip-card{
  background-color: transparent;
  
}

.flip-card-inner{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  // animation: spin 3s infinite linear;
  //transform: ;
}

.flip-card-front, .flip-card-back{

  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back{
  background: rgb(87,143,182);
  transform: rotateY(180deg);
}

@keyframes spin {
  from { 
    transform: rotateY(0deg) rotate(-45deg); 
  }
  to {
    transform: rotateY(360deg) rotate(-45deg); 
  }
}

